#form {
	background: rgba(0, 0, 0, 0.1);
	padding-bottom: 30px;
	padding-right: 15px;
	border-radius: 10px;
}

.form-group {
	margin-bottom: 20px;
}

#formShipped {
	background: rgba(0, 0, 0, 0.8);
	padding: 30px;
	color: white;
}

#judul {
	padding-bottom: 20px;
	padding-top: 10px;
	font-size: 35px;
	font-family: 'Philosopher', sans-serif;
}

.formLabel {
	font-size: 15px;
	font-family: 'Philosopher', sans-serif;
}

#productPulsa {
	background: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}


#button {
	border: none;
	background-color: #ae4545;
	color: white;
	outline: none;
}

#button:hover {
	background-color: #682929;
}

#buttonSubmit {
	padding-left: 100px; 
	padding-right: 100px; 
	background-color: #db2310; 
	color: white; 
	font-family: 'Philosopher', sans-serif;
	font-size: 17px;
}

#back {
	background: transparent; 
	color: white; 
	padding-top: 6px; 
	padding-bottom: 6px; 
	padding-left: 8px; 
	padding-right: 8px; 
	border: 1px solid white;
	font-family: 'Philosopher', sans-serif;
	font-size: 17px;
}

#back:hover {
	background: white;
	color: black;
}